<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django Project - LOGIN SYSTEM</title>
  
    <link rel="stylesheet" href="{% static 'adminpanel/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Login</h3>
                {% if messages %}
                  <p class="card-text text-warning">
                      {% for message in messages %}
                      {{ message }}
                      {% endfor %}
                  </p>
                  {% endif %}
                <form id="login-form" action="/requestLogin" method="POST">
                  {% csrf_token %}   
                  <div class="form-group">
                    <label>Username *</label>
                    <input type="text" name="username" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="password" class="form-control p_input">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    
                    <a href="{% url 'loginapp:forgotpassword' %}" class="forgot-pass">Forgot password</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" name="login_btn" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>               
                  <p class="sign-up">Project By ©<a href=""> SHUBHA ROY</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    
  </body>
</html>